.hero__bg-img {
  position: absolute;
  top: 0;
  right: -56px;
  width: 580px;
  height: 644px;
  background-image: url("../../accets/images/hero-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
